@model List<Category>
<p>
    <a asp-action="Create" asp-controller="Category" asp-area="Admin" class="btn btn-primary my-3">Create New Category</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
             
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Index" asp-area="Customer" asp-controller="Category" class="btn btn-info btn-sm">Show</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirmDelete('@item.Name')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function confirmDelete(Name) {
            return confirm(`Are you sure you want to delete ${Name}?`);
        }
    </script>
}
